@charset "utf-8";
@import url("./layoutChecker.css");
/*
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nes-div {
  width: 1px;
  height: 1px;
  z-index: 1;
  transform: translateZ(1px);
}

canvas {
  transform-origin: left top;
}
*/

.nes-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
